# backend
backend/.env
backend/vendor
backend/node_modules
backend/storage/logs/*.log
backend/bootstrap/cache/*.php

# frontend
frontend/.env
frontend/node_modules
frontend/dist

# misc
.DS_Store
Thumbs.db